.CalculatorResult {
    width: 399px;
    height: 4em;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #393E46;
}

.result {
    font-size: 40px;
}

.process {
    font-size: 20px;
}